header {
    padding: 20px;
}


body {
    border: 40px solid #3F1E1F;
    background: #476D28;
    background: -moz-linear-gradient(top, #476D28 0%, #3F1E1F 100%);
    background: -webkit-linear-gradient(top, #476D28 0%, #3F1E1F 100%);
    background: linear-gradient(to bottom, #476D28 0%, #3F1E1F 100%);
}

p {
    color: antiquewhite;
}

li {
    color: antiquewhite;
}

.row {
    border: 0px solid #50713A;
}

header img {
    height: 20%;
    width: 20%;
    float:right;
    -moz-transform: translate(24px, -40px);
    -webkit-transform: translate(24px, -40px);
    -o-transform: translate(24px, -40px);
    -ms-transform: translate(24px, -40px);
    transform: translate(24px, -40px);
}

.col-sm-4 {
    border-left: 20px solid rgba(63, 30, 31, 0);
    border-right: 20px solid #3f1e1f00;
    border-bottom: 4px solid #3f1e1f00;
}

label {
    font-family: Impact, Charcoal, sans-serif;
    color: antiquewhite;
}

h1 {
    font-family: Impact;
    color: antiquewhite;
    text-align: center;
    font-stretch: 100%
}

h2 {
    font-family: Impact, Charcoal, sans-serif;
    color: antiquewhite;
    -moz-transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -o-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
}

h3 {
    font-family: Impact, Charcoal, sans-serif;
    color: antiquewhite;
}

h4 {
    font-family: Impact, Charcoal, sans-serif;
    color: antiquewhite;
}

.card button {
    color:antiquewhite;
    background-color: #476D28;
    border-radius: 12px;
    border-color: antiquewhite;
    -moz-transform: translate(0px, -14px);
    -webkit-transform: translate(0px, -14px);
    -o-transform: translate(0px, -14px);
    -ms-transform: translate(0px, -14px);
    transform: translate(0px, -14px);
}
.card button:hover {
    background: #B94F2D;
}

.card button:active {
    background: #893D25;
}

.col-sm-8{
    border-right: 0px solid #3F1E1F;
    border-bottom: 0px solid #3F1E1F;
}

#sightings-report button{
    color: antiquewhite;
    background-color: #476D28;
    border-radius: 12px;
    border-color: antiquewhite;
}


.icontainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
  }
  
.responsive-iframe {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
border: none;
}

ul.no-bullets {
list-style-type: none; /* Remove bullets */
padding: 0; /* Remove padding */
margin: 0; /* Remove margins */
}

.responsive {
max-width: 100%;
height: auto;
}